vpx/crash.dmp
vpx/crash.txt
.idea

# mpf runtime stuff
mpf-config/logs
mpf-config/data

.envrc

#Do not version certificates, but keep the config files
certs/**
!certs/Readme.md
!certs/server.csr.cnf
!certs/v3.ext

mpf-config/monitor/playfield.jpg
mpf-config/monitor/playfield.png